<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
  <bean id="firstworker" class="com.example.demo.firstworker"/>
  <bean id="secondworker" class="com.example.demo.secondworker"/>

  <bean id="dependencyinjectionseter" class="com.example.demo.dependencyinjectionseter">
    <constructor-arg name="firstworker" ref="firstworker"/>
    <constructor-arg name="secondworker" ref="secondworker"/>
  </bean>

</beans>